// |-------------
// | Variables
// |-------------

// Cores

$cor01 : #444242;
$cor02 : #E6B54A;
$cor03 : #303F9F;
$cor04 : #fff;
$cor05 : #020202;



// Fontes
$ft : 'roboto', sans-serif;
$fontawesome: normal normal normal 14px/1 FontAwesome;



$ftRegular : 400;
$ftBold : 700;

// Grid
$full : 100%;

// Variaveis Conteudo
$i : !important;

img {
  width: auto;
}


@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@include placeholder {
  color: $cor03;
  font-weight:400;
}

// https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html
//
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}